

body {
  background-color: #373e98;
  color: white;
}

* { 
  box-sizing: border-box;
}

footer {
  font-style: normal;
  font-size: 12px;
}

/*  center the Collection component on the screen */
.collectiondiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centereddiv {
  display: flex;
  text-align: center;
  word-wrap: normal;
  margin-left: 20%;
  margin-right: 20%;
}

.centered {
  text-align: center;
}

.link-image {
  cursor: pointer !important;
}

/* display profile view/edit card in center
.codediv {
  display: flex;
  position: relative;
  height: 200px;
  width: 300px;
}


/* react-burger-menu specific styles */
* {
  box-sizing: border-box;
}

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}

.burger-margins {
  margin-right: 80px;
  margin-bottom: 0px;
}

/* end of react-burger-menu styles */


